:root {
    --gutter: 20px;
    --rounded-large: 0px;
    --rounded-normal: 4px;
    --text-size-large: 24px;
    --link-color: #696969; /* Lighter grey color */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

a {
    color: var(--link-color); /* Apply the black color to links */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Show underline on hover */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.head-site {
    background-color: #323232;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.head-title {
    font-size: 36px;
    margin: 0;
}

.link-underlined {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery-site--two-cols {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    justify-content: center;
}

.gallery-site__img {
    width: 100%;
    border-radius: var(--rounded-large);
    max-width: 500px;
}

.grid-typography {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
    padding: 20px;
}

.grid-typography__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--rounded-large);
}

.grid-typography__img {
    width: 100%;
    max-width: 800px;
    border-radius: var(--rounded-large);
}

.layout-overall {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    border-radius: 5px;
    background-color: #fff;
}

.layout-overall__type {
    text-align: center;
    border-left: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    border-radius: 5px;
    color: #fff;
}

